.recipeDetails {
    box-shadow: -1px 1px 4px rgba(47, 77, 77, 0.5);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 0.5rem;
    background-image: linear-gradient(45deg, #c8d3bc 0%, #edf4e4 51%, #c7d3b9 100%);
    animation: detailsFade 0.75s;
    margin-bottom: 1rem;
}

@keyframes detailsFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.recipeDetails--topContainer {
    display: flex;
}

.recipeDetails--header {
    border-bottom: 1px solid rgba(143, 159, 174, 0.5);
}

.recipeDetails_fav {
    margin-left: auto;
}

.recipeDetails__userInfo {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(143, 159, 174, 0.5);
    padding-bottom: 0.5rem;
}

/*Recipe Detais Image-------------------------------------------------------*/
.recipeDetails__imgContainer {
    width: 100%;
    margin-bottom: 1rem;
}

.recipeDetails__imgWrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.recipeDetails--img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 8px 6px 4px rgba(54, 68, 68, 0.25);
}

/*--------------------------------------------------------------------------*/

.recipeDetails_times {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.recipeDetails_time {
    font-size: smaller;
}

.recipeDetails__servings {
    border-bottom: 1px solid rgba(143, 159, 174, 0.5);
    padding-bottom: 0.5rem;
}

.recipeDetails__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    row-gap: 0.5rem;
}

.recipeDetails__category {
    background-color: #b0c19d;
    border-radius: 20px;
    padding: .25rem .5rem;
    box-shadow: -1px 1px 4px rgba(47, 77, 77, 0.5);
}

.recipeDetails--textblock {
    white-space: pre-line;
    border-bottom: 1px solid rgba(143, 159, 174, 0.5);
    padding-bottom: 0.5rem;
}

.recipeDetails__ingredientContainer {
    border-bottom: 1px solid rgba(143, 159, 174, 0.5);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.nutriFactsContainer {
    width: 100%;
    border-bottom: 1px solid rgba(143, 159, 174, 0.5);
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.nutriFactsWrapper {
    padding: 0.75rem;
    box-shadow: -1px 1px 4px rgba(47, 77, 77, 0.5);
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
}

.nutriFacts {
    padding: 0.5rem;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: x-small;
}

.loadNutritionContainer {
    text-align: right;
}

.loadNutritionLink {
    display: inline-block;
    color: inherit;
    text-decoration: inherit;
    width: fit-content;
}

.disabled {
    pointer-events: none;
}

#loadNutritionButton {
    font-size: 1em;
    margin: 0;
    box-shadow: -1px 1px 4px rgba(22, 22, 22, 0.5);
}

.lightTableBorder {
    border-bottom: 1px solid rgba(35, 35, 35, 0.75);
}

.mediumTableBorder {
    border-bottom: 4px solid rgba(35, 35, 35, 0.75);
}

.heavyTableBorder {
    border-bottom: 8px solid rgba(35, 35, 35, 0.75);
}

.IngrNutritionContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.attributionContainer {
    text-align: center;
}

.nutriAttribution {
    width: 55%;
}

/*UI--------------------------------------------------------------------------------*/
.btn-secondary {
    margin-top: 0.75rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #e4b06d 0%, #d9cec1 51%, #ca9044 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-secondary:hover {
    background-position: right center;
    /* change the direction of the change here */
    text-decoration: none;
    color: #edf4e4;
    text-shadow: 0.25px 0.25px 3px rgba(34, 40, 40, 1);
}

.btn-secondary:active {
    transform: scale(0.95);
}

.btn-secondary:disabled {
    opacity: 0.65;
}

/*Desktop View----------------------------------------------------------------------*/
@media (min-width: 600px) {
    .IngrNutritionContainer {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(143, 159, 174, 0.5);
        padding-bottom: 1rem;
    }

    .recipeDetails__ingredientContainer {
        width: 48%;
    }

    .nutriFactsContainer {
        width: 48%;
        margin-left: 0;
        margin-right: 0;
    }

    .recipeDetails_time {
        display: flex;
        column-gap: 5px;
        font-size: inherit;
    }
}

@media (min-width: 720px) {
    .recipeDetails {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .recipeDetails__imageAndTimesContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba(143, 159, 174, 0.5);
        padding-bottom: 1rem;
    }

    .recipeDetails__imgContainer {
        flex-basis: 48%;
        margin-bottom: 0;
    }

    .recipeDetails__timesServingsDescription {
        flex-basis: 48%;
    }

    .recipeDetails__servings {
        border-bottom: 1px dashed rgba(143, 159, 174, 0.5);
        padding-bottom: 1rem;
    }

    .recipeDetails_times {
        flex-direction: column;
        row-gap: 1rem;
    }

    #recipeDetails--desc,
    .recipeDetails__ingredientContainer,
    .nutriFactsContainer {
        border-bottom: none;
    }

    .recipeDetails__ingredientContainer {
        margin-bottom: 0;
    }
}