.btn--follow {
  height: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  transition: all .2s ease-in-out;
}

.followIcon {
  height: 100%;
  margin: 0;
}

.btn--follow:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.following {
  height: 1.1rem;
  background-image: linear-gradient(45deg, #e4b06d 0%, #d9cec1 51%, #ca9044 100%);
  border-radius: 5px;
  padding: 0.1rem;
}

#btn-faved {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

/*Recipe Image Container -------------------------------------------------*/
.recipe--imgContainer {
  display: block;
  background-color: #edf4e4;
  background-image: var(--bg-image);
  /*Dynamically set recipe image to background image for control over dimensions*/
  width: 100%;
  padding-top: 100%;
  /*Make image square in mobile view*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  border-radius: 25px;
  box-shadow: 8px 6px 4px rgba(54, 68, 68, 0.25);
  transition: all .2s ease-in-out;
}

.recipe--imgContainer:hover {
  cursor: pointer;
}

@media (min-width: 520px) {
  .recipe--imgContainer {
    width: 15rem;
    height: 15rem;
    padding: 0;
  }

  .recipe--imgContainer:hover {
    transform: scale(1.02);
  }
}

/*------------------------------------------------------------------------*/

/*Favorite Icon------------------------------------------*/
.favstar {
  /* Modify size here: */
  --size: 1rem;
  --half-size: calc(var(--size) / 2);

  position: relative;
  display: block;
  color: #5c763e;
  width: 0px;
  height: 0px;
  border-right: var(--half-size) solid transparent;
  border-bottom: calc(var(--half-size) * 0.7) solid #5c763e;
  border-left: var(--half-size) solid transparent;
  transform: rotate(35deg);
}

.favstar:before {
  border-bottom: calc(var(--half-size) * 0.8) solid #5c763e;
  border-left: calc(var(--half-size) * 0.3) solid transparent;
  border-right: calc(var(--half-size) * 0.3) solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: calc(var(--half-size) * 0.45 * -1);
  left: calc(var(--half-size) * 0.65 * -1);
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.favstar:after {
  position: absolute;
  display: block;
  color: #5c763e;
  top: calc(var(--half-size) * 0.03);
  left: calc(var(--half-size) * -1.05);
  width: 0px;
  height: 0px;
  border-right: var(--half-size) solid transparent;
  border-bottom: calc(var(--half-size) * 0.7) solid #5c763e;
  border-left: var(--half-size) solid transparent;
  transform: rotate(-70deg);
  content: '';
}

/*--------------------------------------------------------*/

/* Main button theme ------------------------------------------------------------- */
.btn-secondary {
  margin-top: 0.75rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #e4b06d 0%, #d9cec1 51%, #ca9044 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-secondary:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
  color: #edf4e4;
  text-shadow: 0.25px 0.25px 3px rgba(34, 40, 40, 1);
}

.btn-secondary:active {
  transform: scale(0.95);
}

.btn-group-left,
.btn-group-right {
  display: inline-block;
}

.btn-group-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*-----------------------------------------------------------------------------*/