/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
} */
/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

.title--main {
  margin-block-end: 0;
}

.pageFooter {
  height: 10vh;
  border-top: 1px solid rgba(143, 159, 174, 0.5);
  margin-top: 1rem;
}

.pageBody {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.feedHeader {
  color: #72875C;
  text-shadow: -0.25px 0.25px 0.25px rgba(43, 46, 46, 0.50);
}

.followingListItem, .followedByListItem {
  display: flex;
  column-gap: 0.75rem;
}

.followingListItem, .followedByListItem, .pageBody {
  animation: fadeEffect 0.75s;
}

.discoverFade {
  animation: fadeEffect 0.75s;
}

.myFeedFade {
  animation: fadeEffect2 0.76s;
}


@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect2 {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Styles for display tabs -----------------------------------------------------*/

.recipeDisplayTab, .profileDisplayTab {
  display: flex;
  column-gap: 3rem;
  border-bottom: 1px solid rgba(143, 159, 174, 0.5);
  border-top: 1px solid rgba(143, 159, 174, 0.5);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.recipeDisplayTab {
  justify-content: center;
}

.profileDisplayTab {
  justify-content: space-between;
  column-gap: 0;
  overflow-x: auto;
}

.recipeDisplayTabLink, .profileDisplayTabLink {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.recipeDisplayTab--hoverEffect, .profileDisplayTab--hoverEffect {
  transition: all 0.3s ease-in-out;
}

.recipeDisplayTab--hoverEffect:hover, .profileDisplayTab--hoverEffect:hover {
  transform: scale(1.2);
}

.recipeDisplayTabLink.active, .profileDisplayTabLink.active {
  font-weight: bold;
}


/* CSS for underline animation --------------------------------------------*/

.underline-effect {
  position: relative;
  text-decoration: none;
}

.underline-effect::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b0c19d;
  box-shadow: 0px 2.5px 0.25px rgba(61, 74, 74, 0.15);
  border-radius: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline-effect.active::before {
  transform: scaleX(1);
}
/* -------------------------------------------------------------------------*/

/*BUTTONS----------------------------------------------------------------------------------*/
/*Post/submit button--------------------------------------------------------*/
.btn-primary {
  align-items: center;
  background-color: #e4b06d;
  border: 2px solid #e4b06d;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  color: #edf4e4;
  text-shadow: 0.5px 0.5px 2px rgba(34, 40, 40, 0.75);
  font-size: larger;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform .2s ease-out;
}

.btn-primary:after {
  background-color: rgb(23, 22, 22, 0.5);
  border-radius: 10px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(4px, 4px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn-primary:hover:after {
  transform: translate(0, 0);
}

.btn-primary:active {
  background-color: #c48d46;
  outline: 0;
}

.btn-primary:hover {
  outline: 0;
  background-color: #eccda5;
  border: 2px solid #eccda5;
}

.btn-primary-wrapper {
  position: relative;
  z-index: 0;
  display: inline-block;
}

@media (min-width: 768px) {
  .btn-primary {
    padding: 0 40px;
  }
}
/*---------------------------------------------------------------------------------*/


/*Desktop View ----------------------------------------------------------------*/
@media (min-width: 820px) {
  body {
    padding: 0 3rem;
  }

  .pageBody {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 700px) {
  .profileDisplayTab {
    justify-content: flex-end;
    column-gap: 3rem;
    overflow-x: visible;
  }
}

@media (min-width: 420px) {
  .recipeDisplayTab {
    justify-content: flex-end;
  }
}